<% content_for :body do %>
  <h1 align="center">About Page</h1>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        This blog is the first application I developed in Ruby on Rails. It is part of the Udemy course <strong>"The Complete Ruby on Rails Developer Course"</strong>. You cand enroll in the course to by going to <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/">Udemy</a>.
      </div>
    </div>
  </div>
<% end %>
