
<div class="container container-footer">
  <footer class="footer text-left">
    <div class="row">
      <div class="col-md-8 text-left">
          <address>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <strong>Victor Evangelista</strong> <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a href="mailto:jvce92@hotmail.com">Email</a>
          </address>
      </div>
      <div class="col-md-4 text-right">
        <nav>
          <ul class="list-unstyled">
            <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</div>